form > div{
    border: 3px solid;
    border-radius: 30px;
}

#form-container{
    padding: 50px;
    margin: 60px;
}
form > .form-group{
    padding: 20px 80px !important;
}
label{
    font-weight: bold;
   
}